In [7]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('ecommerce.db')

df = pd.read_sql_query("""
    SELECT user_id, signup_date, country
    FROM users
    LIMIT 5
""", conn)

df

   user_id signup_date  country
0        1  2025-04-27    Spain
1        2  2024-09-14    Spain
2        3  2024-12-14  Germany
3        4  2024-11-25      USA
4        5  2025-06-01      USA